.searchBoxer {
  width: 300px;
  margin: 50px auto;
}

.search {
  padding:40px 10px;
  border: 1px solid black;
  text-align: center;
}

.search ul {
  display: block;
  float: none;
}

.search li {
  float: none;
}

/*.search ul {
  flex-direction: column;
  display: flex;
}

.search li {
  display: block;
}*/
