html, body, h1, h2, h3, div, main, header, footer, title, p, ul, li, a {
  padding: 0;
  margin: 0;
  border: 0;

  font-size: inherit;
  font-weight: inherit;
  font-family: sans-serif;

  background: transparent;
  list-style: none;
  line-height: 1;
}

h3 {
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

li {
  float: left;
}

h1 {
  font-size: 36px;
}


.group:after{
  display: block;
  clear:both;
  content: ""
}

ul {
  flex-direction: row;
  display: flex;
}

li {
  flex-grow: 1;
  text-align: center;
  background-color: white;
  cursor: pointer;
}

article {
  border: 1px solid black;
  background-color: orange;
  height: 300px;
  color:white;
  text-shadow: 2px 2px black;
  font-size: 36px;
  text-align: center;
}

.tabs{
  width: 300px;
  margin: 0 auto;

}

.t-article {
  background: url("http://placecorgi.com/300/300")
}

.selected-tab {
  font-weight: 700;
}
