.weatherContainer {
  width: 300px;
  margin: 50px auto;
}

.weatherWidget {
  border: 1px solid black;
  padding: 25px;
}

.weatherLocation {
  font-size: 36px;
  float:left;
}

.weatherTemperature {
  font-size: 24px;
  float: right;
}
