html, body, h1, figure, ul, li {
  margin: 0;
  padding: 0;
  border: 0;

  font-size: inherit;
  font-weight: inherit;

  background: transparent;
}

body {
  /*width: 90%;*/
}

.ttt {
  width: 900px;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

ul li {
  width: 250px;
  height: 250px;
  float: left;
  background: lightblue;
  border: 5px solid black;
  font-size: 240px;
  text-align: center;
}

.played {
  background: white;
}

.status {
  display: block;
  font-size: 140px;
}
