<h1>Search!</h1>
<!--
<form action="/users/search" method="GET">
  <input
    type="text"
    name="query"
    value="<%= @query %>">

  <input type="submit" value="Search Users!">
</form>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.username, user_url(user) %>
      <%= render "follows/form", user: user %>
    </li>
  <% end %>
</ul> -->
<nav class="users-search">
  <label>Username
    <input class="searchbar" type="text" name="user[username]">
  </label>

  <ul class="users">
    
  </ul>
</nav>
