body, figure, figcaption, ul, li {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
}

* {
  transform: rotate(0deg) scale(1);
  transition: 0.5s ease;
}


.hanoi {
  width: 900px;
  height: 330px;

  margin: auto;
  position: relative;
}

.group:after {
  clear: both;
  content: "";
  display: block;
}

ul {
  float:left;
  width: 290px;

  height: 330px;
  margin-left: 5px;
}

ul li {
  list-style: none;
  height: 70px;
  border-top: 10px;
  margin: 20px auto;

  border-radius: 50px;

}

ul:hover li:last-child{
  background:blue;
}

.d0 {
  width: 0;
  /*margin: 10px;*/
}

.d1 {
  width: 33%;
  background: lightblue;
  /*margin: auto;*/
}

.d2 {
  width: 66%;
  background: lightblue;
  /*margin: auto;*/
}

.d3 {
  width: 99%;
  background: lightblue;
  /*margin: auto;*/
}

.bar {
  height: 20px;
  background:grey;
}

.selectedTower {
  background:red !important;
}

footer {
  /*margin: auto;
  float: left;*/
}

footer p {
  font-size: 72px;
}

.spin {
  transform: rotate(3600deg) scale(2);
}
