/* PHASE 1: Header */
body {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  background: #eee;
}

.header {
  background-color: #f00;
  border-bottom: 1px solid #ccc;
  color: white;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.header-nav {
  margin: 0 auto;
  width: 900px;
  border-left: 1px solid #ccc;
}

.header-logo {

  float: left;
  font-weight: 700;
  border-right: 1px solid #ccc;

}

.header-logo:hover {
  background: #000;

}

.header-logo a:link, .header-logo a:visited, .header-logo a:hover, .header-logo a:active {
  display: block;
  padding: 10px 20px;
}

.header-list {
  float: right;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}

header a {
  color: white;
}

.header-list a {
  display: block;
  padding: 10px 20px;
}

.header-list li:hover{
  background-color: #000;
}

.header-list li {
  float: left;
  border-left: 1px solid #ccc;

}
