/* PHASE 2: Notifications */
.badge {
  padding: 1px 6px;
  background: #000;
  border-radius: 50%;
  width: 50px;
  height: auto;
}

.dropdown {
  position: relative;
}

.dropdown-list {
  position: absolute;
  background: #fff;
  width: 230px;
  display: none;
  font-size: 14px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  /*border-bottom: 1px solid #ccc;*/
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;

  overflow: hidden;
  left: -1px;
}

.dropdown-list li:hover {
  background:#eee;
  display:block;
}

.dropdown-list li {
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
  width: 230px;
  border-left: none;
}

.dropdown:hover ul {
  display: block;
}

.dropdown:hover strong {
  background: #f00;
}

.dropdown-list a {
  display: block;
  color: #000;
}
