/* PHASE 3: Layout */
.content {
  width:900px;
  margin: 0 auto;
  position: relative;
  background: white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.content-sidebar {
  float:left;
  min-height: 240px;
  width: 240px;

  background: white;
  padding: 20px;
  box-sizing: border-box;


}

.content-main {
  float:right;
  min-height: 240px;

  width: 660px;
  padding: 20px;
  box-sizing: border-box;

}

.divider:before {
  display: block;
  position: absolute;
  width: 1px;
  top: 200px;
  bottom: 0;
  left: 240px;
  background: #ccc;
  content: "";
}
