/* PHASE 4: Footer */
footer {
  width:900px;
  /*box-sizing: border-box;*/
  margin: 0 auto 50px auto;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
  color: #aaa;
  font-size: 14px;
  font-weight: 400;
}

.copyright {
  float: left;
  padding: 20px;
}

.footer-links {
  float: right;

  margin-right: 10px;
}

.footer-links li {
  float: left;

}

.footer-links a {
  display: block;
  padding: 20px 10px;
  color: #aaa;
}

.footer-links a:hover {
  color: #000;
}
