/* PHASE 5: Cats */
.content-header {
  height: 200px;
  width: 900px;
  background: url('../img/cats.jpg');
  background-size: cover;
  box-sizing: border-box;
  /*border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;*/
  position: relative;
  line-height: 1;
}

.username {
  font-size: 36px;
  position: absolute;
  bottom: 20px;
  left: 240px;
  color: #fff;
  text-shadow: 1px 1px 15px black;
}

.add-friend-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #fff;
  border: 1px solid black;
  padding: 12px 20px 10px 20px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.add-friend-button:hover {
  background: #eee;

}
