/* PHASE 6: Sidebar */
.profile-picture {
  margin-top: -120px;
  position: relative;
  border: 1px solid #000;
  box-sizing: border-box;
  border-radius: 5px;

  overflow: hidden;
}

.cat-name{
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0;
}

.cat-description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.sidebar-links a {
  font-weight: 700;
  color: black;
  display:block;
  padding: 5px;
}

.sidebar-links a:hover {
  background: #eee;

  padding: 5px;
}

.sidebar-links li {

  border-bottom: 1px solid #ccc;
}

.sidebar-links {
  margin-bottom:15px;
  border-top: 1px solid #ccc;
}
