/* PHASE 7: Online */
.profile-pic {
  position: relative;
}

.online {
  padding: 5px 30px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #0c0;
  position:absolute;
  top: -10px;
  left: -10px;
  color: #fff;
  transform:rotate(-45deg) translateX(-25%);
  box-shadow: 0 1px 0 0 #070;
}
