/* PHASE 8: Thumbs */
.profile-friends {
  margin: 0 auto;
}

.picthumb {
  width: 60px;
  height: 60px;
  background: url('../img/cat.jpg') lightblue;
  background-size: cover;
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.picthumb:nth-child(3n+2) {
  margin-left: 10px;
  margin-right: 10px;
}

.picthumb:before {
  content: attr(title);
  display: none;
  color: white;
  font-size: 12px;
  background: black;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.picthumb:after {
  display:none;
  content: "";
  width: 0;
  height: 0;
  background: transparent;

  border-top: 7px solid black;
  border-bottom: none;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;

  position:absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
}

.picthumb:hover:before,
.picthumb:hover:after {
  display: block;
}
