/* PHASE 9: Forms */
.form-container {
  float: left;
  margin-bottom: 10px;
}

.form {
  width: 540px;
  margin-left: 20px;
  float: left;
  border: 1px solid #ccc;
  border-radius: 5px;

  padding: 20px;
}

.title-container {
  display:block;
  font-size: 16px;
  font-weight: 700;
}

input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  background: white;
  padding: 10px;
  margin-top: 5px;
  font-weight: 400;
  border-radius: 5px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: white;
  padding: 10px;
  margin-top: 5px;
  font-weight: 400;
  border-radius: 5px;
}

.body-container {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  display:block;
}

.submit {
  background: #0c0;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
  font-weight: 700;
  box-shadow: 0 3px #070;
}

.submit > button:active {
  box-shadow: none;
  background: #070;
}

.form a {
  margin-left: 5px;
  font-weight: 700;
  color: black;
}

.form a:hover {
  margin-right: 5px;
  color: red;
}
