/* PHASE 10: Posts */
.post {
  float: left;
  width: 560px;
  padding-left: 20px;

  font-size: 16px;
  font-weight: 400;
}

.post h2 {
  font-size: 24px;
  font-weight: 700;
}

.post-body {
  margin: 20px 0;
}
